# dirs
oldtars/
linuxbox-ceph/
src/Docs/html/
src/Docs/latex/
src/autom4te.cache/
src/build-aux/
src/rpm/
src/pkg-deb/
src/docker/
.deps/
.libs/
CMakeFiles/
build/

# files
*.kdevelop*
*.kdevses
TAGS
tags
Makefile.in
Makefile
libtool
configure
depcomp
missing
ltmain.sh
install-sh
config.*
aclocal.m4
*.o
*.a
libganeshaNFS.pc
nfs-ganesha.spec
cppcheck.*
cscope.*
ylwrap
nfs-ganesha*.tar.gz
nfs-ganesha*.tar.bz2
patch-for-HPSS-nfs-ganesha-*
*.diff
*.patch
!debian/patches/*.patch
core.*
*cmake_install.cmake
libfsal*.so*
Doxyfile
*~
*.swp
.project
.checkpatch.conf
src/scripts/systemd/nfs-ganesha-config.service
src/FSAL/FSAL_VFS/vfs/lustre_main.c
src/FSAL/FSAL_VFS/vfs/main.c
src/Protocols/NLM/sm_notify.ganesha
src/CMakeCache.txt
src/CPackConfig.cmake
src/CPackSourceConfig.cmake

src/scripts/systemd/sysconfig/nfs-ganesha
