autom4te.cache/
build-aux/
rpm/
aclocal.m4
configure
config.h
config.log
config.status
INSTALL
libtool
Makefile
stamp-h1
.deps/
.libs/
*.in
*.la
*.lo
*.o
*~
*.spec
*.pc
*.deb
*.dsc
*.changes
*.gz
*.bz2
