# Configuration file for the run_test.sh framework
# 
# Use this template to build your own test_variables.rc
#

# Path to cthon04 test's suite
CTHON04_DIR=/opt/cthon04

# Non-root user that will run part of the test
USER=lambda
