Makefile.in
Makefile
libtool
configure
config.*
aclocal.m4
autom4te.cache/
build-aux/
.deps/
.libs/
*.o
*.lo
*.la
libganeshaNFS.pc
nfs-ganesha.spec
rpm/
deb-pkg/
cppcheck.*
cscope.*
nfs-ganesha*.tar.gz
nfs-ganesha*.tar.bz2
patch-for-HPSS-nfs-ganesha-*
