[Unit]
Description=Process NFS-Ganesha configuration
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/libexec/ganesha/nfs-ganesha-config.sh
