body {
background-image:url(images/img01.gif); background-repeat:repeat-x;
	font: normal small Arial, Helvetica, sans-serif;
	color: #888888;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
}
.logo{
	text-transform: uppercase;
	font-size:28px;
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
}
.date{font-family:tahoma;
font-size:10px;
color:#686868;
}

.tag {
	margin: 0;
	text-transform: uppercase;
	font-size:16px;
	font-weight:bold;
	color:#ffffff;
    text-decoration:none;
}
.topmenu{

text-transform:uppercase;
font-size:11px;
color:#FFFFFF;
text-decoration:none;
}
.topmenu:hover{

text-transform:uppercase;
font-size:11px;
color:#FFFFFF;
text-decoration:underline;
}
.toplinks{

text-transform:uppercase;
font-size:13px;
color:#EA672E;
font-weight:bold;
text-decoration:none;
}
.toplinks:hover{

text-transform:uppercase;
font-size:13px;
color:#686868;
font-weight:bold;
text-decoration:underline;
}
.boxed {

	background: url(images/img03.gif) no-repeat;
	height:118px;
}
.boxtitle {
	height: 29px;
	padding: 7px 0 0 27px;
	font-size:16px;
	font-weight:bold;
	color: #FFFFFF;
}
.smallred{
font-size:11px;
color:#EA672E;
text-decoration:none;
}
.smallred:hover{
font-size:11px;
color:#686868;
text-decoration:none;
}
.newstext{
font-size:11px;
color:#EA672E;
text-decoration:none;
}
.quicklinks{
color:#EA672E;
text-decoration:underline;
}
.quicklinks:hover{
color:#686868;
text-decoration:none;
}
.welcome
{font-size:x-large;
color:#686868;
}

h1
{
	color:#686868;
}
.bodylinks{
color:#EA672E;
font-weight:bold;
text-decoration:none;
}
.bodylinks:hover{
color:#686868;
font-weight:bold;
text-decoration:underline;
}

